.container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw; /* Ensure width is set for the container */
  height: 20vh; /* Set a fixed height for proper flexbox alignment */
  z-index: +1;
  top: 180px;
}
.left,
.right {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid red;
  padding: 10px;
  background-color: white;
}
.container img {
  width: 100%;
  height: auto;
}
.middle {
  width: 4000px;
  height: 65vh;
  display: flex;
  overflow-x:hidden;
}
.slider {
  width: 800px;
  height: inherit;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image maintains aspect ratio and covers the area */
}
